/* _content/DesafioTodo/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.footer[b-ounsmsgv5i] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    justify-content: center;
  }
/* _content/DesafioTodo/Views/Todo/CreateOrUpdate.cshtml.rz.scp.css */



.conteudo[b-9ayhkfe5jc]{
    margin-bottom: 48px;
    box-shadow: 4px 4px 4px 4px black;
    border-radius: 10px;
    background: linear-gradient(68.15deg, #1c232c 16.62%, #2c0e26  85.61%);
}

.conteudo-padrao[b-9ayhkfe5jc]{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-padrao-titulo[b-9ayhkfe5jc]{
    
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 70px;
    justify-content:space-around ;
    
    background: linear-gradient(68.15deg, #2a74d6 16.62%, #8a1c72  85.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.conteudo-form-text[b-9ayhkfe5jc]{
    color: aqua;
}
/* _content/DesafioTodo/Views/Todo/Index.cshtml.rz.scp.css */



.conteudo[b-yw9fvsb2ek]{
    margin-bottom: 48px;
    box-shadow: 4px 4px 4px 4px black;
    border-radius: 10px;
    background: linear-gradient(68.15deg, #1c232c 16.62%, #2c0e26  85.61%);
    
}

.conteudo-principal[b-yw9fvsb2ek]{
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-titulos[b-yw9fvsb2ek]{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulos-titulo[b-yw9fvsb2ek]{
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 70px;
    background: linear-gradient(68.15deg, #2a74d6 16.62%, #8a1c72  85.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
}

.conteudo-principal-titulos-subtitulo[b-yw9fvsb2ek]{
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 32px;
    background: linear-gradient(68.15deg, #2a74d6 16.62%, #8a1c72  85.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
}

.conteudo-principal-imagem[b-yw9fvsb2ek]{
    height: 200px;
    width: 200px;
}

.conteude-table[b-yw9fvsb2ek]{
    width: 100%; 
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.tableTask[b-yw9fvsb2ek]{ 
    width: 70%;
    box-shadow: 2px 2px 2px 2px #101113;
    border-radius: 20px;
    background: linear-gradient(68.15deg, #1c232c 16.62%, #2c0e26  85.61%); 
    
}

.conteude-table-tr[b-yw9fvsb2ek]{
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 22px;
    color: #2a74d6;
    text-align: center;
    
}

.conteude-table-td[b-yw9fvsb2ek]{
    
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 20px;
    color: #4196a5;
    text-align: center;
    
}

