


.conteudo[b-9ayhkfe5jc]{
    margin-bottom: 48px;
    box-shadow: 4px 4px 4px 4px black;
    border-radius: 10px;
    background: linear-gradient(68.15deg, #1c232c 16.62%, #2c0e26  85.61%);
}

.conteudo-padrao[b-9ayhkfe5jc]{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-padrao-titulo[b-9ayhkfe5jc]{
    
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 70px;
    justify-content:space-around ;
    
    background: linear-gradient(68.15deg, #2a74d6 16.62%, #8a1c72  85.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.conteudo-form-text[b-9ayhkfe5jc]{
    color: aqua;
}